
.black-text{
    color: black;
}

.red{
    background-color: red;
}

.green{
    background-color: green;
}

.yellow{
    background-color: yellow;
}

.special-blue{
    background-color:#d7eff9;
}

.orange{
    background-color: orange;
}

.purple{
    background-color: purple;
}